{% extends "layout.html" %}
{% block content %}
<div class="summarygenerator">
<h2 style="color:green;">Select file to upload</h2>

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<form method="post" enctype="multipart/form-data">
<dl>
<p>
<input type="file" name="file" autocomplete="off" required>	
</p>
</dl>
<h2 style="color:green;">Click to generate summary</h2>
<input type="submit" name="submit_button" value="Summarize">
</form>
</div>
{% endblock %}